@model IDLPrueba.Models.Departamento
@{
    ViewData["Title"] = "Eliminar Departament";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row text-center">
        <div class="col-sm-12">
            <h3>Eliminar Departamento</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <form method="post" asp-action="DeleteDep">
                <input hidden asp-for="DepartamentoId" />

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="DepartamentoNombre" class="control-label"></label>
                    <input asp-for="DepartamentoNombre" class="form-control" disabled />
                    <span asp-validation-for="DepartamentoNombre" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DepartamentoDescripcion" class="control-label"></label>
                    <input asp-for="DepartamentoDescripcion" class="form-control" disabled />
                    <span asp-validation-for="DepartamentoDescripcion" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PaisId" class="control-label"></label>
                    <input asp-for="PaisId" class="form-control" disabled />
                    <span asp-validation-for="PaisId" class="text-danger"></span>

                </div>
                <div class="form-group">
                    <label asp-for="Activo" class="control-label"></label>
                    <input asp-for="Activo" class="form-control" disabled />
                    <span asp-validation-for="Activo" class="text-danger"></span>

                </div>
                <div class="form-group">
                    <label asp-for="FCreacion" class="control-label"></label>
                    <input asp-for="FCreacion" class="form-control" disabled />
                    <span asp-validation-for="FCreacion" class="text-danger"></span>

                </div>
                <div class="form-group">
                    <label asp-for="Usuario" class="control-label"></label>
                    <input asp-for="Usuario" class="form-control" disabled />
                    <span asp-validation-for="Usuario" class="text-danger"></span>

                </div>
                <div class="form-group">
                    <label asp-for="FModificacion" class="control-label"></label>
                    <input asp-for="FModificacion" class="form-control" disabled />
                    <span asp-validation-for="FModificacion" class="text-danger"></span>

                </div>
                <div class="form-group text-center">
                    <input type="submit" value="Eliminar Departamento" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts{ 
    @{ <partial name="_ValidationScriptsPartial" />}
}
