@model IDLPrueba.Models.Ciudad
@{
    ViewData["Title"] = "Crear Una Nueva Ciudad";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row  text-center">
        <div class="col-sm-12">
            <h3>Eliminar Ciudad</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <form method="post" asp-action="DeleteCiudad">
                <input hidden asp-for="CiudadId" />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="CiudadNombre" class="control-label"></label>
                    <input asp-for="CiudadNombre" class="form-control"disabled />
                    <span asp-validation-for="CiudadNombre" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="CiudadDescripcion" class="control-label"></label>
                    <input asp-for="CiudadDescripcion" class="form-control" disabled />
                    <span asp-validation-for="CiudadDescripcion" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DepartamentoId" class="control-label"></label>
                    <input asp-for="Departamento.DepartamentoNombre" class="form-control" disabled />
                    <span asp-validation-for="DepartamentoId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Activo" class="control-label"></label>
                    <input asp-for="Activo" class="form-control" disabled />
                    <span asp-validation-for="Activo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FCreacion" class="control-label"></label>
                    <input asp-for="FCreacion" class="form-control" disabled />
                    <span asp-validation-for="FCreacion" class="text-danger"></span>

                </div>
                <div class="form-group">
                    <label asp-for="FModificacion" class="control-label"></label>
                    <input asp-for="FModificacion" class="form-control" disabled/>
                    <span asp-validation-for="FModificacion" class="text-danger"></span>

                </div>

                <div class="form-group">
                    <label asp-for="Usuario" class="control-label"></label>
                    <input asp-for="Usuario" class="form-control"disabled />
                    <span asp-validation-for="Usuario" class="text-danger"></span>
                </div>

                <div class="form-group text-center">
                    <input type="submit" value="Eliminar Ciudad" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
